
body {
  margin: 0;
  background-color: #f3f4f5;
}

.header {
  padding: 15px 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

  a {
    padding: 0 20px;
  }
}
.home-container{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.home-link{
   display: inline-block;
   width: 25vw;
   height: 100%;
   a{
     display: inline-block;
     width: 25vw;
     position: absolute;
     top: 40%;
     color:#fff;
     text-decoration: none;
     font-size: 2.5rem;
     line-height: 1.5;
     font-weight: 700;
     text-align: center;
   }
}